<select
  class="form-select"
  aria-label="Default select example"
  (change)="filter($event)"
>
  >
  <option value="All">All Products</option>
  <option [value]="cat" *ngFor="let cat of allCategorie">
    {{ cat }}
  </option>
</select>
<app-spinner class="text-center" *ngIf="isloading"></app-spinner>
<div class="card-group">
  <ng-container
    class="row row-cols-1 row-cols-md-3 g-4"
    *ngFor="let pro of allProduct; let i = index"
  >
    <div class="card">
      <img [src]="pro.image" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          {{ pro.title }}
        </h5>
        <p class="card-text">
          {{ pro.description | slice : 0 : 100
          }}{{ pro.description.length > 20 ? "..." : "" }}
        </p>

        <span> {{ pro.price | currency }} </span>
        <br />
        <a class="btn btn-primary">Buy </a>
      </div>
    </div>
    <div *ngIf="i % 3 == 2" class="w-100"></div>
  </ng-container>
</div>
