<form class="d-flex" role="search">
  <input
    class="form-control me-1"
    type="search"
    placeholder="Search"
    aria-label="Search"
  />
  <button class="btn btn-outline-primary" type="submit">Search</button>
</form>
<div class="card-group">
  <ng-container
    class="row row-cols-1 row-cols-md-3 g-4"
    *ngFor="let pro of allProduct; let i = index"
  >
    <div class="card">
      <img [src]="pro.image" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          {{ pro.title }}
        </h5>
        <p class="card-text">
          {{ pro.description | slice : 0 : 100
          }}{{ pro.description.length > 20 ? "..." : "" }}
        </p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>
    <div *ngIf="i % 3 == 2" class="w-100"></div>
  </ng-container>
</div>
